.back{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.76RoYzPNLIIeS4BWo7NErwHaE8&pid=Api&P=0&h=180")
}

.back1{
    background-image: url("https://media.iceportal.com/73719/photos/68858778_XXL.jpg");
    background-size:cover;
}