<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Main></Main></title>
</head>
<body>
  <center>  <div style="height: 500px;width: 400px; background-color: bisque;border-radius: 20px;">
    <p style="padding-top: 100px;"><h5 style="text-align: center;">choose your authontication</h5></p>

    <a href="/adlogin/"><button style="height: 100px; border-radius: 20px;width: 100px; float: left;margin-top: 200px;margin-left: 90px;">Admin</button></a>
   <a href="/ulogin/"> <button style="height: 100px; border-radius: 20px;width: 100px;float: left;margin-top: 200px;margin-left:20px;">User</button></a>

 </div></center>
    
</body>
</html>