{%extends 'happ/umaster.html'%}


{% block title%}
adhome
        {%endblock%}



        {%block text%}
                <div style="height: 1000px;width: 100%;
                background-repeat: no-repeat;background-size: cover;" class="back">
                 <h1 style="padding-top: 100px; padding-left: 50px; font-size: 50px;">Welcome to Hotel RJ</h2>
                 <h1 style="margin-left: 30px;">place your order here...</h1>
                <a href="/uitem/"><button style="width: 200px;height: 50px;margin-left: 250px;border-radius: 20px; background-color: burlywood;" class="b">See Item</button>
                </a>
                </div>
        {%endblock%}